/app/build/
/.gradle/
/.idea/
/build/
/gradle/wrapper/
/projectFilesBackup/.idea/
/local.properties
local.properties
.idea/libraries
.idea/workspace.xml
.idea/tasks.xml
.idea/.name
.idea/compiler.xml
.idea/copyright/profiles_settings.xml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/scopes/scope_settings.xml
.idea/vcs.xml
.idea/gradle.xml
*.iml
*.apk
*.ap_
*.aab
*.dex
*.class
.gradle
build/
.navigation
captures/
output.json 